output/*.*
output/css
output/js
*~
input/*.html
input/schemas.xml
*.rnc
tmp
LocalUser.make
output/images/diff-*.gif
.DS_Store
.venv-build/pyvenv.cfg
.venv-build/bin/python3.12
.venv-build/bin/python3
.venv-build/bin/python
